<% content_for :title, "#{t('devise.sign_in_title')} | #{t('app.name')}" %>
<% content_for :body_class, "font-inter antialiased bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-400" %>
<% content_for :full_bleed, true %>
<% content_for :head do %>
  <%= stylesheet_link_tag "mosaic/css/vendors/flatpickr.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "mosaic/style", "data-turbo-track": "reload" %>
  <script>
    if (localStorage.getItem('dark-mode') === 'false' || !('dark-mode' in localStorage)) {
      document.querySelector('html').classList.remove('dark');
      document.querySelector('html').style.colorScheme = 'light';
    } else {
      document.querySelector('html').classList.add('dark');
      document.querySelector('html').style.colorScheme = 'dark';
    }
  </script>
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag "mosaic/js/vendors/alpinejs.min", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "mosaic/js/main", "data-turbo-track": "reload" %>
<% end %>

<main class="bg-white dark:bg-gray-900" x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }" x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))">
  <div class="relative flex">
    <div class="w-full md:w-1/2">
      <div class="min-h-[100dvh] h-full flex flex-col after:flex-1">
        <div class="flex-1">
          <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
            <%= link_to root_path, class: "block", "aria-label": t("app.name") do %>
              <svg class="fill-violet-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                <path d="M31.956 14.8C31.372 6.92 25.08.628 17.2.044V5.76a9.04 9.04 0 0 0 9.04 9.04h5.716ZM14.8 26.24v5.716C6.92 31.372.63 25.08.044 17.2H5.76a9.04 9.04 0 0 1 9.04 9.04Zm11.44-9.04h5.716c-.584 7.88-6.876 14.172-14.756 14.756V26.24a9.04 9.04 0 0 1 9.04-9.04ZM.044 14.8C.63 6.92 6.92.628 14.8.044V5.76a9.04 9.04 0 0 1-9.04 9.04H.044Z" />
              </svg>
            <% end %>
          </div>
        </div>

        <div class="max-w-sm mx-auto w-full px-4 py-8">
          <h1 class="text-3xl text-gray-800 dark:text-gray-100 font-bold mb-6"><%= t("devise.sign_in_title") %></h1>

          <%= form_with model: resource, scope: resource_name, url: session_path(resource_name), class: "space-y-4" do |f| %>
            <div>
              <%= f.label :email, class: "block text-sm font-medium mb-1 text-gray-700 dark:text-gray-200" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input w-full" %>
            </div>
            <div>
              <div class="flex items-center justify-between mb-1">
                <%= f.label :password, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
                <%= link_to t("devise.forgot_password"), new_password_path(resource_name), class: "text-sm underline hover:no-underline" %>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-input w-full" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="flex items-center gap-2">
                <%= f.check_box :remember_me, class: "form-checkbox" %>
                <%= f.label :remember_me, class: "text-sm" %>
              </div>
            <% end %>
            <div class="flex items-center justify-between mt-6">
              <div class="mr-1">
                <%= link_to t("devise.forgot_password"), new_password_path(resource_name), class: "text-sm underline hover:no-underline" %>
              </div>
              <%= f.submit t("devise.sign_in_title"), class: "btn bg-gray-900 text-gray-100 hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-800 dark:hover:bg-white ml-3" %>
            </div>
          <% end %>

          <div class="pt-5 mt-6 border-t border-gray-100 dark:border-gray-700/60">
            <div class="text-sm">
              <%= t("devise.no_account") %>
              <%= link_to t("nav.sign_up"), new_registration_path(resource_name), class: "font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" %>
            </div>
            <div class="mt-5">
              <div class="bg-yellow-500/20 text-yellow-700 px-3 py-2 rounded-lg">
                <svg class="inline w-3 h-3 shrink-0 fill-current" viewBox="0 0 12 12">
                  <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                </svg>
                <span class="text-sm"><%= t("devise.sign_in_notice", default: "To support you during the launch, pro features are available while we roll out billing.") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
      <%= image_tag "mosaic/images/auth-image.jpg", class: "object-cover object-center w-full h-full", width: 760, height: 1024, alt: "Authentication image" %>
    </div>
  </div>
</main>
